/* GENERAL */

/* BOX SIMULATION */

.box {
    padding: 10px;
    background: white;
    text-align: center;
    border: 1px solid lime;
}

/* SECTIONS BG */

.top-header {
    background-color: darkslategray;
}

.start-bootstrap {
    background-color: aquamarine;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* UTILITIES */

.pic {
    text-align: center;
}