/* GENERAL */

/* BOX SIMULATION */

.box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    text-align: center;
    border: 1px solid lime;
}

/* SECTIONS BG and PADDINGS */

.top-header {
    background-color: darkslategray;
}

.start-bootstrap {
    background-color: aquamarine;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio {
    padding-top: 30px;
}

.about {
    background-color: aquamarine;
    margin-top: 50px;
}

.last-section {
    background-color: darkgray;
}

footer {
    background-color: darkslategrey;
}

/* UTILITIES */

.pic {
    text-align: center;
}

.pics {
    background-color: black;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}